// 导入全局变量
@import './global.less';

// AdminPage页面样式
.admin-page-container {
  .inner-tab-container {
    :deep(.el-tabs__nav-wrap) {
      display: block;
    }
  }

  .import-card {
    padding: 24px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .upload-dragger {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 240px;
    border: 1px dashed @border-color;
    border-radius: 8px;
  }

  .staff-card {
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .staff-header {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
  }

  .schedule-card {
    padding: 32px;
    border-radius: 12px;
  }

  .schedule-form-content {
    max-height: 700px;
    overflow-y: auto;
    padding-right: 16px;
  }

  .schedule-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .schedule-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .settings-card {
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .settings-content {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  .setting-button {
    padding: 12px 24px;
    font-size: 18px;
    margin: 10px;
    box-shadow: none;

    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .schedule-item {
    padding: 20px;
  }
}